@import url(main.css);
body .tag {
  background: var(--background-element-light);
}
body.dark .tag {
  background: var(--background-element-dark);
}
.main {
  padding: 4rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.tag {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  height: 55vh;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}
.tag:first-child {
  margin-bottom: 0;
}
.tag .meta,
.tag a,
.tag h3,
.tag p {
  width: 100%;
  overflow: hidden;
}
.tag a {
  height: 30vh;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag a img {
  height: 100%;
  object-fit: cover;
}
.tag a img:hover {
  width: 120%;
  animation: --hover 0.1s ease-in;
}
@keyframes --hover {
  0% {
    width: 100%;
  }
  100% {
    width: 120%;
  }
}
.tag h3,
.tag p {
  padding: 0.5rem 0 0.5rem 1rem;
}
@media only screen and (min-width: 600px) {
  .tag {
    height: 30vh;
    width: 100%;
    padding: 0;
  }
  .tag .meta {
    width: 75%;
    height: 25vh;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
  }
  .tag h3,
  .tag p {
    padding: 1rem 0 0 2rem;
  }
  .tag p {
    text-align: right;
  }
  .tag a {
    width: 25%;
    padding: 0;
    height: 100%;
    justify-content: right;
  }
  .tag img {
    padding: 0;
    width: 100%;
    border-radius: 0 1.5rem 1.5rem 0;
  }
}
